<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>

    <div class="container">
        <h1 class="text-center mt-5 mb-5">APP API-REST PYTHON - FLASK - MONGODB</h1>
    </div>

    <div class="container">
        <div class="row row-col-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2">
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-center">register bike</h5>
                    </div>
                    <div class="card-body">
                        <form action="/bikes" method="POST">
                            <label>Id</label>
                            <input type="number" class="form-control mb-3" name="_id">
                            <label>Model</label>
                            <input type="text" class="form-control mb-3" name="model">
                            <label>Brand</label>
                            <input type="text" class="form-control mb-3" name="brand">
                            <label>Features</label>
                            <input type="text" class="form-control mb-3" name="features">
                            <label>Year</label>
                            <input type="number" class="form-control mb-3" name="year">
                            <label>Size</label>
                            <input type="number" class="form-control mb-3" name="size">
                            <label>Availability</label>
                            <input type="text" class="form-control mb-3" name="availability">
                            <label>Price day</label>
                            <input type="number" class="form-control mb-3" name="Price_day">
                            <button class="btn btn-primary" type="submit">Save</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-center">Bikes</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <div class="row row-col-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-3">
                                {% for bike in bikes %}

                                <div class="col">
                                    <li class="list-group-item mb-3">
                                        <form action="/edit/{{bike._id}}" method="POST">
                                            <input type="number" class="form-control" value="{{bike._id}}" name="_id">
                                            <input type="text" class="form-control" value="{{bike.model}}" name="model">
                                            <input type="text" class="form-control" value="{{bike.brand}}" name="brand">
                                            <input type="text" class="form-control" value="{{bike.features}}"
                                                name="features">
                                            <input type="number" class="form-control" value="{{bike.year}}" name="year">
                                            <input type="text" class="form-control" value="{{bike.size}}" name="size">
                                            <input type="text" class="form-control" value="{{bike.availability}}"
                                                name="availability">
                                            <input type="text" class="form-control" value="{{bike.Price_day}}"
                                                name="Price_day">
                                            <button class="btn btn-primary btn-sm mt-3" type="submit">Edit</button>
                                            <a href="{{url_for('delete', _id=bike._id)}}"
                                                class="btn btn-danger btn-sm mt-3">Delete</a>

                                        </form>
                                    </li>
                                </div>

                                {% endfor %}
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>

<!-- https://www.youtube.com/watch?v=tmnrW2nCnVY -->